extends layout
block title
  title biy.kz - сервис для управления товарами на маркетплейсах Казахстана №1. Предзаказ XML Бот Каспи Жусан
block append meta
  meta(name="description" content="some default meta tags")
  meta(property="og:type" content="website")
  meta(property="og:url" content="https://biy.kz/")
  meta(property="og:locale" content="ru_RU")
  meta(property="og:description" content="Бот для Каспи  магазина - автообновление цен каждые 15 минут. Предзаказ XML. Попробуйте 3 дня Бесплатно. Каспи бот для продавцов. Увеличение продаж на Kaspi.")
  meta(property="og:title" content="Каспи бот для продавцов, Предзаказ XML автоснижение цены для Kaspi Bot")
  meta(property="og:site_name" content="Kaspi Бот Предзаказ XML")
  meta(property="article:modified_time" content='' + date)
  meta(name="twitter:card" content="summary_large_image")
  meta(name="twitter:label1" content="Примерное время для чтения")
  meta(name="twitter:data1" content="3 минуты")
block body
  .content
    .header
      a.elem(href="#main") Главная
      a.elem(href="#try") Попробовать
      a.elem(href="#price") Цены
      a.elem(href="#contact") Контакты
      a.elem(href="#questions") Q&A
      .elem.sm
        a(href="https://t.me/sha_khan" target="_blank")
          include svg/telegram.svg
        a(href='tel:+7-706-630-10-08')
          include svg/phone.svg
        a(href="https://instagram.com/biy_kz" target="_blank")
          include svg/instagram.svg
        a(href="https://tiktok.com/@biykz" target="_blank")
          include svg/tiktok.svg
        a(href="mailto:tlksmn1@gmail.com" target='_blank')
          include  svg/email.svg
        a(href="https://linkedin.com/@biy_kz" target="_blank")
          include svg/linkedin.svg

    .container
      #firstStep.row
        h1 Hello World!
      #main.row
        h1.h Главная
        div Легкий и современный интерфейс управление товарами. Есть функционал изменение цены, наличия прездаказа, на одной странице и вам не предстоит сидеть и ждать пока загрузится браузер. Быстро легко и удобно.
        img.img(src='/assets/pictures/activated.webp' alt='biy.kz service full product list')
        div Интерфейс для просмотра списка конкурентов. Отображается название магазина, цена, дни предзаказа и рейтинг.
        img.img(src='/assets/pictures/rival-modal.webp' alt='biy.kz service product list')
        div Интерфейс для добавления и управления продавцов на платформе. Можно изменять конкурентность предзаказ поднятие и понижение цен для Kaspi.
        img.img(src='/assets/pictures/seller-list.webp' alt='biy.kz service product list')
        div Создано с использованием самых передовых технолгий, которые представлены на рынке. Надежность и стабильность залог процветания. Мы изучаем ваш опыт и всегда стремимся дать лучший сервис для вас.

      #try.row
        h1.h Попробовать
        div Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent suscipit sollicitudin augue nec viverra. Mauris rutrum nisl dictum, dignissim felis sed, mattis est. Nunc auctor mi eros, sed fermentum est euismod a. Suspendisse non placerat diam. Duis nulla sem, lacinia eu tristique non, consequat eu ligula. In aliquam turpis sed enim tincidunt hendrerit ac quis nisl. Mauris porttitor mi orci, id scelerisque nisi dapibus et. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Sed vitae orci vestibulum, feugiat nulla sed, porta magna. Etiam euismod dictum neque, nec convallis urna bibendum ac. Praesent quis consectetur odio, in rutrum tellus. Ut lacinia ex et enim maximus, vitae iaculis turpis venenatis.
        div Etiam ac congue neque, et volutpat eros. Mauris sollicitudin nibh nec erat feugiat, nec blandit odio eleifend. Nullam at orci pellentesque, dapibus tortor nec, pellentesque dolor. In ac imperdiet justo, volutpat congue turpis. Sed rutrum pellentesque diam ut eleifend. Nam quis urna aliquam diam pretium tempor vitae ac nulla. Fusce arcu nunc, bibendum nec risus efficitur, facilisis volutpat mauris. Sed tincidunt eget dolor eu accumsan. Suspendisse nec ultrices nibh, at hendrerit ex. Fusce at ex eget eros hendrerit varius ac non dolor. Praesent rhoncus libero ac feugiat pulvinar. Aenean aliquet scelerisque orci quis vehicula. Sed ut diam eu augue dapibus interdum in ac eros.
        div Morbi pulvinar arcu tincidunt magna condimentum interdum. Donec euismod sapien a leo hendrerit tincidunt. Praesent at maximus lectus. Nam tempor sagittis lorem, eu lobortis nunc consequat faucibus. Praesent consectetur sollicitudin neque, sit amet maximus mi rhoncus vel. Curabitur auctor tincidunt vulputate. Fusce ut tortor vulputate, sagittis turpis sed, vestibulum tortor. Curabitur eget placerat ipsum, sed blandit tortor. Curabitur id feugiat arcu, ultricies molestie nunc.
        div Maecenas rhoncus felis erat, non interdum leo consequat eu. Sed suscipit tortor rhoncus elit lobortis varius. Sed ultrices massa odio, et vestibulum tellus blandit eget. Aenean est nulla, laoreet quis scelerisque ac, dignissim ac massa. Aenean sed tellus eu sapien suscipit congue et id lacus. Proin quis scelerisque velit, sit amet blandit eros. Fusce semper tempus elit, in eleifend est porta in. Suspendisse vitae egestas metus. Donec ac ornare quam, eu porttitor magna. Sed tellus orci, placerat vitae nibh quis, convallis aliquet justo. Donec iaculis eu nisi eget commodo. Nulla et tortor maximus sapien faucibus consectetur sed ut odio. Phasellus cursus ante eget suscipit faucibus. Etiam at libero massa. In feugiat dui id eleifend bibendum.
        div Proin fringilla egestas neque. Morbi a nunc at nibh tempus rhoncus. Fusce dapibus, mi vel scelerisque porta, mauris nisi pulvinar mi, eget blandit odio dui eget urna. Sed nec eros nisi. Cras maximus magna non dui porta, faucibus fringilla ante pretium. Nunc gravida sed sem et euismod. Praesent eu aliquet erat. In feugiat mi in diam aliquam placerat. Ut lorem felis, vestibulum sed finibus eget, pellentesque at nunc. Maecenas blandit iaculis luctus. Pellentesque congue quam vitae neque hendrerit, sit amet interdum sem interdum.

      #price.row
        h1.h Цены
        div.list
          div.el
            .logo
              img(src="/assets/pictures/apriori.png" alt="apriori test package biy.kz")
            div.name Apriori Test
            div.price
              p ₸1,999.00
              p ₸1,999.00
            div.description
              .text Proin fringilla egestas neque. Morbi a nunc at nibh tempus rhoncus. Fusce dapibus, mi vel scelerisque porta, mauris nisi pulvinar mi, eget blandit odio dui eget urna.
              .detail-list
                .detail-el
                  .svg
                    include svg/time.svg
                  .desc 7 дней (одноразовый)
                .detail-el
                  .svg
                    include svg/user.svg
                  div Max - 1 продавец
                .detail-el
                  .svg
                    include svg/technology.svg
                  .desc Biy Standard
                .detail-el
                  .svg
                    include svg/timer.svg
                  div Ручное
                .detail-el
                  .svg
                    include svg/computer.svg
                  .desc XML
                .detail-el
                  .svg
                    include svg/price.svg
                  .desc Min Max цена
                .detail-el
                  .svg
                    include svg/feature.svg
                  .desc Предзаказ, наличие

            div.action
              a(href="#") Купить

          div.el
            .logo
              img(src="/assets/pictures/standard.png" alt="biy.kz standard package logo")
            div.name Standard
            div.price
              p ₸14,999.00
              p ₸12,000.00
            div.description
              p Proin fringilla egestas neque. Morbi a nunc at nibh tempus rhoncus. Fusce dapibus, mi vel scelerisque porta, mauris nisi pulvinar mi, eget blandit odio dui eget urna.
              .detail-list
                .detail-el
                  .svg
                    include svg/time.svg
                  .desc 30 дней
                .detail-el
                  .svg
                    include svg/user.svg
                  .desc Max - 2 продавца
                .detail-el
                  .svg
                    include svg/technology.svg
                  div Biy Standard
                .detail-el
                  .svg
                    include svg/timer.svg
                  .desc Ручное
                .detail-el
                  .svg
                    include svg/computer.svg
                  .desc XML
                .detail-el
                  .svg
                    include svg/price.svg
                  .desc Min Max цена
                .detail-el
                  .svg
                    include svg/feature.svg
                  .desc Предзаказ, наличие

            div.action
              a(href="#") Купить

          div.el
            .logo
              img(src="/assets/pictures/comfort.png" alt="biy.kz comfort package logo")
            div.name Comfort
            div.price
              p ₸39,999.00
              p ₸32,000.00
            div.description
              p Proin fringilla egestas neque. Morbi a nunc at nibh tempus rhoncus. Fusce dapibus, mi vel scelerisque porta, mauris nisi pulvinar mi, eget blandit odio dui eget urna.
              .detail-list
                .detail-el
                  .svg
                    include svg/time.svg
                  .desc 30 дней
                .detail-el
                  .svg
                    include svg/user.svg
                  .desc Max - 2 продавца
                .detail-el
                  .svg
                    include svg/technology.svg
                  .desc Biy Standard, API
                .detail-el
                  .svg
                    include svg/timer.svg
                  .desc Интервал 25 минут
                .detail-el
                  .svg
                    include svg/computer.svg
                  .desc XML, API
                .detail-el
                  .svg
                    include svg/price.svg
                  .desc Min Max цена
                .detail-el
                  .svg
                    include svg/feature.svg
                  .desc Предзаказ, наличие

            div.action.no
              a(href="#price") Скоро!

          div.el
            .logo
              img(src="/assets/pictures/business.png" alt="biy.kz business package logo")
            div.name Business
            div.price
              p ₸79,999.00
              p ₸72,000.00
            div.description
              p Proin fringilla egestas neque. Morbi a nunc at nibh tempus rhoncus. Fusce dapibus, mi vel scelerisque porta, mauris nisi pulvinar mi, eget blandit odio dui eget urna.
              .detail-list
                .detail-el
                  .svg
                    include svg/time.svg
                  .desc 30 дней
                .detail-el
                  .svg
                    include svg/user.svg
                  .desc Max - 2 продавца
                .detail-el
                  .svg
                    include svg/technology.svg
                  .desc Biy Standard, API
                .detail-el
                  .svg
                    include svg/timer.svg
                  .desc Интервал 12 минут
                .detail-el
                  .svg
                    include svg/computer.svg
                  .desc XML, API
                .detail-el
                  .svg
                    include svg/price.svg
                  .desc Min Max цена
                .detail-el
                  .svg
                    include svg/feature.svg
                  .desc Предзаказ, наличие
            div.action.no
              a(href="#price") Скоро!

          div.el
            .logo
              img(src="/assets/pictures/elite.png" alt="biy.kz elite package logo")
            div.name Elite
            div.price
              p ₸99,999.00
              p ₸92,000.00
            div.description
              p Proin fringilla egestas neque. Morbi a nunc at nibh tempus rhoncus. Fusce dapibus, mi vel scelerisque porta, mauris nisi pulvinar mi, eget blandit odio dui eget urna.
              .detail-list
                .detail-el
                  .svg
                    include svg/time.svg
                  .desc 30 дней
                .detail-el
                  .svg
                    include svg/user.svg
                  .desc Max - 2 продавца
                .detail-el
                  .svg
                    include svg/technology.svg
                  .desc Biy Standard, API
                .detail-el
                  .svg
                    include svg/timer.svg
                  .desc Интервал 6 минут
                .detail-el
                  .svg
                    include svg/computer.svg
                  .desc XML, API
                .detail-el
                  .svg
                    include svg/price.svg
                  .desc Min Max цена
                .detail-el
                  .svg
                    include svg/feature.svg
                  .desc Предзаказ, наличие
                .detail-el
                  .svg
                    include svg/e-commerce.svg
                  .desc Интернет магазин
            div.action.no
              a(href="#price") Скоро!

      #contact.row
        h1.h Контакты
        .el-contact
          include svg/time.svg
          div 9:00 - 21:00
        .el-contact
          include svg/phone.svg
          a(href='tel:+7-706-630-10-08') +7 (706) 630-10-08
        .el-contact
          include svg/whatsapp.svg
          a(href='https://wa.me/77066301008?text=Здравстуйте! Меня интересует ваш сервис. Можете дать доступ к тестовому режиму?' target='_blank') WhatsApp
        .el-contact
          include svg/telegram.svg
          a(href="https://t.me/sha_khan" target='_blank') Telegram аккаунт администратора
        .el-contact
          include svg/telegram.svg
          a(href='https://t.me/biykz' target='_blank') Telegram канал Biy.kz
        .el-contact
          include svg/instagram.svg
          a(href='#' target='_blank') Instagram
        .el-contact
          include svg/linkedin.svg
          a(href='#' target='_blank') LinkedIn
        .el-contact
          include svg/email.svg
          a(href='mailto:tlksmn1@gmail.com') Email
        .el-contact
          include svg/tiktok.svg
          a(href='#' target='_blank') TikTok



      #questions.row
        h1.h Вопросы-ответы
        div Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent suscipit sollicitudin augue nec viverra. Mauris rutrum nisl dictum, dignissim felis sed, mattis est. Nunc auctor mi eros, sed fermentum est euismod a. Suspendisse non placerat diam. Duis nulla sem, lacinia eu tristique non, consequat eu ligula. In aliquam turpis sed enim tincidunt hendrerit ac quis nisl. Mauris porttitor mi orci, id scelerisque nisi dapibus et. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Sed vitae orci vestibulum, feugiat nulla sed, porta magna. Etiam euismod dictum neque, nec convallis urna bibendum ac. Praesent quis consectetur odio, in rutrum tellus. Ut lacinia ex et enim maximus, vitae iaculis turpis venenatis.
        div Etiam ac congue neque, et volutpat eros. Mauris sollicitudin nibh nec erat feugiat, nec blandit odio eleifend. Nullam at orci pellentesque, dapibus tortor nec, pellentesque dolor. In ac imperdiet justo, volutpat congue turpis. Sed rutrum pellentesque diam ut eleifend. Nam quis urna aliquam diam pretium tempor vitae ac nulla. Fusce arcu nunc, bibendum nec risus efficitur, facilisis volutpat mauris. Sed tincidunt eget dolor eu accumsan. Suspendisse nec ultrices nibh, at hendrerit ex. Fusce at ex eget eros hendrerit varius ac non dolor. Praesent rhoncus libero ac feugiat pulvinar. Aenean aliquet scelerisque orci quis vehicula. Sed ut diam eu augue dapibus interdum in ac eros.
        div Morbi pulvinar arcu tincidunt magna condimentum interdum. Donec euismod sapien a leo hendrerit tincidunt. Praesent at maximus lectus. Nam tempor sagittis lorem, eu lobortis nunc consequat faucibus. Praesent consectetur sollicitudin neque, sit amet maximus mi rhoncus vel. Curabitur auctor tincidunt vulputate. Fusce ut tortor vulputate, sagittis turpis sed, vestibulum tortor. Curabitur eget placerat ipsum, sed blandit tortor. Curabitur id feugiat arcu, ultricies molestie nunc.
        div Maecenas rhoncus felis erat, non interdum leo consequat eu. Sed suscipit tortor rhoncus elit lobortis varius. Sed ultrices massa odio, et vestibulum tellus blandit eget. Aenean est nulla, laoreet quis scelerisque ac, dignissim ac massa. Aenean sed tellus eu sapien suscipit congue et id lacus. Proin quis scelerisque velit, sit amet blandit eros. Fusce semper tempus elit, in eleifend est porta in. Suspendisse vitae egestas metus. Donec ac ornare quam, eu porttitor magna. Sed tellus orci, placerat vitae nibh quis, convallis aliquet justo. Donec iaculis eu nisi eget commodo. Nulla et tortor maximus sapien faucibus consectetur sed ut odio. Phasellus cursus ante eget suscipit faucibus. Etiam at libero massa. In feugiat dui id eleifend bibendum.
        div Proin fringilla egestas neque. Morbi a nunc at nibh tempus rhoncus. Fusce dapibus, mi vel scelerisque porta, mauris nisi pulvinar mi, eget blandit odio dui eget urna. Sed nec eros nisi. Cras maximus magna non dui porta, faucibus fringilla ante pretium. Nunc gravida sed sem et euismod. Praesent eu aliquet erat. In feugiat mi in diam aliquam placerat. Ut lorem felis, vestibulum sed finibus eget, pellentesque at nunc. Maecenas blandit iaculis luctus. Pellentesque congue quam vitae neque hendrerit, sit amet interdum sem interdum.
