doctype html
html(lang="ru")
  head
    block title
      title BIY.KZ
    block meta
      meta(name="viewport" content="width=device-width, initial-scale=1")
      meta(charset="utf-8")
    block style
      link(href="/assets/pictures/favicon.ico"  type="image/x-icon" rel="icon")
      link(href="/assets/styles/reset.css" rel="stylesheet")
      link(href="/assets/styles/style.css" rel="stylesheet")
      link(href="https://biy.kz/" rel="canonical")

  body
    block body
      h1 Hello world! Default body-)
