body {
  font-size: 18px;
  font-style: normal;
  font-family: Georgia, serif;
  user-select: none;
  scroll-behavior: auto;
  color: #424242;
}

.content {
  margin: 0 auto;
  max-width: 60em;
  user-select: none;
  padding: 4em 0;
}

@media (max-width: 600px) {
  .content {
    padding: 0 0 2em 0;
  }

  .content .container > * {
    padding: 0 1em;
  }
}

.content .header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  background: rgb(59,117,183);
  color: beige;
  z-index: 999;
  position: sticky;
  top: 0;
  box-shadow: 0 0 16px 5px rgba(34, 60, 80, 0.2);
}

.content .header .elem:hover {
  background: rgb(87, 134, 197);
  color: #ffffff;
  font-weight: 500;
}

.content .header .elem {
  padding: 1em 0.5em;
  color: white;
  text-decoration: none;
}

.content .header .elem.sm {
  display: flex;
  gap: 0.4em;
}

.content .header .elem.sm svg {
  min-width: 1.2em;
  min-height: 1.2em;
}

.content .header .elem.sm:hover {
  background: inherit;
  color: inherit;
}

.content .container .row {
  padding: 8em 0.5em 0 0.5em;
  text-align: justify;
}

.content .container .row .h{
  font-size: 1.2em;
  padding-bottom: 0.3em;
  font-style: italic;
  font-weight: 0;
}

.content .container .row:hover {
  color: black;
}

.content .container .img {
  max-width: 56em;
  max-height: 70vh;
  padding: 1em 0 1em 0.5em;
}

@media (max-width: 1000px) {
  .content .container .img {
    max-width: 90vw;
    max-height: 70vh;
  }
}

.content .container #price .list {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  justify-content: center;
  align-items: center;
}

.content .container #price .list .el {
  max-width: 16em;
  padding: 1em;
  border: 1px solid #dcdcdc;
  border-radius: 0.5em;
  box-shadow: 0 0 4px 2px rgba(34, 60, 80, 0.2);
}

.content .container #price .list .el .logo {
  display: flex;
  justify-content: center;
}

.content .container #price .list .el .logo img {
  max-width: 14em;
  max-height: 6em;
}

.content .container #price .list .el:hover {
  box-shadow: 0 0 10px 4px rgba(34, 60, 80, 0.2);
  color: black;
  position: relative;
  bottom: 0.2em;
}

.content .container #price .list .el .action {
  padding-top: 1em;
  display: flex;
  justify-content: center;
}

.content .container #price .list .el .action a {
  padding: 0.6em;
  text-decoration: none;
  border: 1px solid rgba(220, 220, 220, 0.55);
  background: #B30000;
  color: #fff;
  border-radius: 0.4em;
}

.content .container #price .list .el .action.no a {
  background: #595959;
  color: #fff;
}

.content .container #price .list .el .name {
  font-weight: 600;
}

.content .container #price .description .detail-list {
  display: flex;
  flex-direction: column;
  padding-top: 0.4em;
  padding-left: 0.2em;
}

.content .container #price .description .detail-list .detail-el {
  display: flex;
  flex-direction: row;
  gap: 0.4em;
  padding-bottom: 0.2em;
  align-items: flex-start;
}

.content .container #price .description .detail-list .detail-el .svg svg {
  max-width: 1em;
  max-height: 1em;
}

.content .container #contact {
  display: flex;
  flex-direction: column;
  padding-left: 4em;
}

.content .container #contact .el-contact {
  display: flex;
  flex-direction: row;
  gap: 0.4em;
  padding-bottom: 0.2em;
}

.content .container #contact .el-contact svg {
  max-width: 1em;
  max-height: 1em;
}

.content .container #contact .el-contact a {
  display: inline-block;
  text-decoration: none;
  color: #424242;
}

.content .container #contact .el-contact a:after {
  display: block;
  content: '';
  border-bottom: solid 3px #313131;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

.content .container #contact .el-contact a:hover:after {
  transform: scaleX(1);
  transform-origin: 0 50%;
}

@media (max-width: 600px) {
  .content .container #contact {
    padding-left: 1em;
    font-size: 1.4em;
  }
}

.content .container #try ul {
  list-style: circle;
}

.content .container #try ul li a {
  padding-left: 0.2em;
  padding-right: 0.2em;
  color: #001c56;
  text-decoration: none;
}
.content .container #try ul ul {
 padding: 0.5em 1em;
}
.content .container #try ul li a:hover {
  text-decoration: underline;
}
