html
  head
    title Политика конфидициальности
  body
    div.contnent
      div
        h2 Пользовательское соглашение
        div г. Алматы, 1 май 2023 г.
      div#first
        h4 1. Сбор и использование информации
        div Расширение собирает и использует только ту информацию, которая необходима для его корректной работы. Это включает в себя следующую информацию:
        ul
          li Идентификатор пользователя приложения biy.kz
          li Данные о выбранных товарах на сайте kaspi.kz
          li Настройки и предпочтения пользователей в рамках расширения
        div Расширение не собирает никакую другую информацию, включая персональные данные пользователей.

      div#second
        h4 2. Разглашение информации
        div  Владелец расширения не разглашает информацию, собранную при помощи расширения, никаким третьим лицам, за исключением случаев, предусмотренных законодательством Республики Казахстан.

      div#third
        h4 3. Безопасность
        div Владелец расширения обеспечивает безопасность собранной информации при помощи соответствующих технических и организационных мер. Расширение использует только безопасные протоколы и методы передачи данных.

      div#fourth
        h4 4. Ответственность
        div Владелец расширения не несет ответственности за неправильное использование расширения со стороны пользователей. Пользователи используют расширение на свой страх и риск.

      div#fith
        h4 5. Изменения политики конфиденциальности
        div Владелец расширения может изменять политику конфиденциальности в любое время без предварительного уведомления пользователей. Обновленная политика конфиденциальности будет опубликована на сайте расширения.

      h3 Настоящая политика конфиденциальности вступает в силу с момента установки расширения и действует до тех пор, пока расширение не будет удалено.
